# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Project Specific
data/
*.csv
temp_dummy/
models/*.sav
notebooks/.ipynb_checkpoints/
__pycache__/

# Log files
*.log

# Frontend build
dashboard/dist/
dashboard/dist-ssr/
dashboard/coverage/
